---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Projects from "../components/Projects.astro";
import SocialLink from "../components/SocialLink.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GitHubIcon from "../icons/GitHub.astro";
import MailIcon from "../icons/Mail.astro";
import YouTubeIcon from "../icons/YouTube.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experience.astro";
import BriefcaseIcon from "../icons/Briefcase.astro";
import CodeIcon from "../icons/Code.astro";
import InfoIcon from "../icons/Info.astro";
import AddressIcon from "../icons/AddressIcon.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import LogoAnimated from "../components/LogoAnimated.astro";
---

<Layout
  title="Portfolio de DanielCastDev | Full Stack Developer"
  description="Estoy interesado en unirme a tu equipo de desarrollo y contribuir con mi máximo esfuerzo para lograr el éxito de tus proyectos."
>
  <main>
    <section
      class="px-6 mx-auto sm:w-[640px] lg:w-[768px] pt-36 pb-6 flex flex-col items-center justify-center"
    >
      <div class="pb-20">
        <LogoAnimated />
      </div>
      <h1
        class="text-white w-full text-3xl sm:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 sm:gap-x-10 pb-4"
      >
        Hola, soy Daniel
        <div class="flex w-1/3">
          <button
            id="welcome"
            class="flex justify-center text-center items-center animate-bounce animate-infinite animate-duration-[2000ms] animate-ease-in-out"
          >
            <Badge>Bienvenidos</Badge>
          </button>
        </div>
      </h1>
      <h2 class="text-sm sm:text-lg lg:text text-pretty">
        <span>+5 años de experiencia en el sector TI,</span>
        <span class="text-yellow-200/90">
          Ingeniero de Sistemas e Informática y Desarrollador Full Stack.
        </span>
        <span class="text-orange-200">Originario de Chepén, Perú.</span>
        <span class="text-white/85">
          La resolución de problemas es mi motivación principal, considero que
          la tecnología es el mejor aliado para abordar los desafíos actuales.
        </span>
      </h2>
      <nav
        class="w-full flex justify-evenly flex-wrap-reverse pt-4 pb-4 min-[375px]:gap-4"
      >
        <SocialLink
          href="https://www.linkedin.com/in/luis-daniel-casta%C3%B1eda-abanto/"
        >
          <LinkedInIcon class="size-4 lg:size-6" />
          LinkedIn
        </SocialLink>
        <SocialLink href="https://github.com/castanedad121">
          <GitHubIcon class="size-5 lg:size-6" />
          GitHub
        </SocialLink>
        <SocialLink
          href="https://www.youtube.com/channel/UCtTb5WgJCkNAT4q5mAxNskg"
        >
          <YouTubeIcon class="size-3 lg:size-6" />
          <span> YouTube</span>
        </SocialLink>
      </nav>
      <SocialLink id="btnMail">
        <MailIcon class="size-6 lg:size-7" />
        <span id="miTextoClicable"> castanedad121@gmail.com</span>
      </SocialLink>
    </section>

    <SectionContainer id="experience">
      <h2
        class="text-2xl lg:text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white/80"
      >
        <BriefcaseIcon class="size-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="projects">
      <h2
        class="text-2xl lg:text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white/80"
      >
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="about">
      <h2
        class="text-2xl lg:text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white/80"
      >
        <InfoIcon class="size-7" />
        Sobre mi
      </h2>
      <About />
    </SectionContainer>

    <SectionContainer id="contact">
      <h2
        class="text-2xl lg:text-3xl font-semibold mb-6 flex gap-x-3 items-center text-white/80"
      >
        <AddressIcon class="size-7" />
        Contacto
      </h2>
      <Contact />
    </SectionContainer>
  </main>
</Layout>

<style></style>

<script>
  const $btnMail = document.getElementById("btnMail");
  $btnMail?.addEventListener("click", (e) => {
    const elemento = document.getElementById("miTextoClicable") as HTMLElement;
    const areaDeTextoTemporal = document.createElement(
      "textarea"
    ) as HTMLTextAreaElement;
    areaDeTextoTemporal.value = elemento.innerText;
    document.body.appendChild(areaDeTextoTemporal);
    areaDeTextoTemporal.select();
    document.execCommand("copy");
    document.body.removeChild(areaDeTextoTemporal);
    elemento.innerText = "copy";
    setTimeout(() => {
      elemento.innerText = "c";
    }, 600);
    setTimeout(() => {
      elemento.innerText = "ca";
    }, 700);
    setTimeout(() => {
      elemento.innerText = "cas";
    }, 800);
    setTimeout(() => {
      elemento.innerText = "cast";
    }, 900);
    setTimeout(() => {
      elemento.innerText = "casta";
    }, 1000);
    setTimeout(() => {
      elemento.innerText = "castan";
    }, 1100);
    setTimeout(() => {
      elemento.innerText = "castane";
    }, 1200);
    setTimeout(() => {
      elemento.innerText = "castaned";
    }, 1300);
    setTimeout(() => {
      elemento.innerText = "castaneda";
    }, 1400);
    setTimeout(() => {
      elemento.innerText = "castanedad";
    }, 1500);
    setTimeout(() => {
      elemento.innerText = "castanedad1";
    }, 1600);
    setTimeout(() => {
      elemento.innerText = "castanedad12";
    }, 1700);
    setTimeout(() => {
      elemento.innerText = "castanedad121";
    }, 1800);
    setTimeout(() => {
      elemento.innerText = "castanedad121@";
    }, 1900);
    setTimeout(() => {
      elemento.innerText = "castanedad121@g";
    }, 2000);
    setTimeout(() => {
      elemento.innerText = "castanedad121@gm";
    }, 2100);
    setTimeout(() => {
      elemento.innerText = "castanedad121@gma";
    }, 2200);
    setTimeout(() => {
      elemento.innerText = "castanedad121@gmai";
    }, 2300);
    setTimeout(() => {
      elemento.innerText = "castanedad121@gmail";
    }, 2400);
    setTimeout(() => {
      elemento.innerText = "castanedad121@gmail.";
    }, 2500);
    setTimeout(() => {
      elemento.innerText = "castanedad121@gmail.c";
    }, 2600);
    setTimeout(() => {
      elemento.innerText = "castanedad121@gmail.co";
    }, 2700);
    setTimeout(() => {
      elemento.innerText = "castanedad121@gmail.com";
    }, 2800);
  });
</script>
