---

interface Props {
  title: string
  description: string
  date: string
}

const { title, description, date } = Astro.props
---

<div
  class="absolute w-3 h-3 rounded-full mt-1.5 -start-1.5 border shadow border-gray-900 bg-green-400"
>
</div>
<time
  class="mb-1 text-xs sm:text-sm "
  >{date}</time
>
<h3 class=" text-sm sm:text-lg  font-semibold text-yellow-200/90 mt-2 text-pretty sm:text-start">
  {title}
</h3>
<p class="mt-2 mb-4  rounded-lg  bg-gray-900/15 border  border-white/10 text-white/85 p-2  text-pretty text-sm ">
  {description}
</p>

