---


---


<header class="fixed w-full flex mx-auto justify-evenly items-center px-6 z-30 pt-4 sm:pt-8 bg-black/95 flex-wrap sm:flex-nowrap gap-y-4">
    <div class="flex w-3/4 justify-center">
        <a href="/" class="flex  items-center justify-center gap-x-2 sm:gap-x-4 ">
    <img class="rounded-full size-10 sm:size-12 bg-[#23BCDF] hover:bg-[#9beafc]" src="https://res.cloudinary.com/desaac6ma/image/upload/v1704906158/samples/FOTOS/IMG_20240109_230231_tn2cz4-removebg-preview_dmtal7.png" alt="DanielCastDev">
    <span class=" hidden sm:block text-sm lg:text-lg hover:text-[#23BCDF] hover:shadow-inherit[#23BCDF]">
        DanielCastDev</span>
    </a>
    </div>

    <nav class="flex flex-grow-0 flex-row w-full text-sm lg:text-lg justify-center gap-x-3 sm:gap-x-4 opacity-85 pb-2">
        <a class="w-22 border-b border-white/0 hover:text-[#23BCDF] hover:border-b hover:border-[#23BCDF]" href="/#experience">Experiencia</a>
        <a class="w-22 hover:text-[#23BCDF] hover:border-b-2 hover:border-[#23BCDF]"  href="/#projects">Proyectos</a>
        <a class="w-22 text-nowrap hover:text-[#23BCDF] hover:border-b-2 hover:border-[#23BCDF]"  href="/#about">Sobre mi</a>
        <a class="w-22 hover:text-[#23BCDF] hover:border-b-2 hover:border-[#23BCDF]"  href="/#contact">Contacto</a>
    </nav>
</header>