---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
// Supports weights 100-900
import "@fontsource-variable/onest";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <div
      class="fixed object-cover inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"
    >
    </div>
    <Header />
    <slot />
  </body>
  <footer>
    <Footer />
  </footer>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: "Onest Variable", sans-serif;
    scroll-behavior: smooth;
  }

  body {
    background-color: #050505;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  @media (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
</style>

<script>
  import JSConfetti from "js-confetti";
  const jsConfetti = new JSConfetti();

  const addConfetti = () => {
    jsConfetti.addConfetti();
  };

  document.querySelector("#welcome")?.addEventListener("click", () => {
    jsConfetti.addConfetti();
  });
  document.querySelector("#thanks")?.addEventListener("click", () => {
    jsConfetti.addConfetti();
  });
  window.addEventListener("DOMContentLoaded", () => {
    setTimeout(() => {
      addConfetti();
    }, 2000);
  });
  window.addEventListener("scroll", () => {
    const scrollPosition = window.scrollY + window.innerHeight;
    const documentHeight = document.documentElement.offsetHeight; // Usa offsetHeight para mayor precisión.

    // Agregamos un pequeño margen para evitar problemas de precisión
    if (scrollPosition >= documentHeight - 5) {
      addConfetti();
    }
  });
</script>
